---
DataSetConfig:
  phenotype_id: "HC337"             # must be in master file
  classification: true
  file_format: "plink"              # only supports plink for now
  populations: ["white_british"]
  include_x_chromosome: false
  maf_threshold: 0.05
  missingness_threshold: 0.05
  sex: null
  covar_config:
    include_covars: false
    covar_keys: ["age", "sex", "Global_PC1", "Global_PC2", "Global_PC3", "Global_PC4", "Global_PC5", "Global_PC6", "Global_PC7", "Global_PC8", "Global_PC9", "Global_PC10"]
  sample_sampling:
    strat: "stratify"                 # options: "random", "stratify", "balanced"
    max_samples: null
    balance_pops: false
  variant_sampling:
    strat: "random"
    max_features: 10000
---
GenomenModelConfig:
  covar_config:
    covar_strat: "residualization"  # options: "residualization", "predictive"
    model_config:
      model_name: linear
      hyperparameters: {}
      balance_classes: false
  geno_config:
    n_estimators: 2
    compute_interactions: True
    preprocessing_config:
      z_score_thresh: 3.0
      standard_labels: false
      feature_selection:
        method: "none"              # options: "none", "k_best", "percentile", "variance_threshold", "mutual_info", "rfe"
        k: 15_000
        percentile: 0.75
        variance_threshold: 0.05
        score_func: "f_classif"     # options: "f_classif", "f_regression", "chi2"
    model_config:
      model_name: lightgbm
      ensemble_estimator_names: []
      hyperparameters: {}
      balance_classes: true
    aggregator_config:
      filter_strat: "geq-average"   # "none", "positive", "geq-average", "top-p-percentile"
      agg_stat: "rank-mean"         # "mean", "rank-mean", "loss-weighted-average"
      p: 0.75
      temp: 0.05
---
TrainConfig:
  batch_size: 2
  n_jobs: 32
  backend: "cpu"                  # options: "cpu", "gpu"
  ram_mb: 16000
  scorer: "rocauc"                # options: "r2", "rocauc", "pearson_corr"
  patience: 30
  seed: 42
  log_with_wandb: false
  save_annotation: false
  save_model: false
  compute_shap: false